.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo{
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 16px;
}
.footer-logo-web{
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 0.03em;
}
.footer-text{
    color: #F4F4FD;
    width: 100%;
    max-width: 264px;
}