.team{
    background-color: #F4F4FD;
}
.team-item{
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}
.team-title{
    text-align: center;
    padding-bottom: 8px;
}
.team-text{
    text-align: center;
}
.title-team{
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px;
}
.img-team{
    display: block;
    width: 100%;
}
.team-group{
    padding: 32px 16px;
}